@import '../../partials/variables';

.landing-title {
    font-size: 50px;
    font-weight: 400;

    @media (max-width: 500px) {
        font-size: 36px;
    }

    span {
        font-weight: 700;
    }
}



.landing-img {
    width: 300px;

    @media (max-width: 500px) {
        width: 200px;
    }
}

.tagline {
    font-size: 18px;
}