@import '../../partials/variables';

.landing-title {
    font-size: 50px;
    font-weight: 400;
}

.landing-title span {
    font-weight: 700;
}

.landing-img {
    width: 300px;
}

.tagline {
    font-size: 18px;
}