@import "../../partials/variables";
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: $secondary-font-color;
}

.profile-container {
    background: linear-gradient(145deg, rgb(221, 65, 18), rgb(241, 118, 18));
    width: 30%;
    min-width: 350px;
    height: 95%;
    border-radius: 10px;
    @media (max-width: 400px) {
        min-width: 280px;
    }
}

.close-btn {
    position: absolute;
    color: $secondary-font-color;
    right: 5px;
    top: 0px;
    font-size: 40px;
    transition: color 0.3s;
    font-weight: 700;
    &:hover {
        color: lighten($secondary-font-color, 10%);
        cursor: pointer;
    }
}

.profile-top {
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.avatar1 {
    background: url("./img/avatar1.png");
    background-size: contain;
}

.avatar2 {
    background: url("./img/avatar2.png");
    background-size: contain;
}

.avatar3 {
    background: url("./img/avatar3.png");
    background-size: contain;
}

.avatar4 {
    background: url("./img/avatar4.png");
    background-size: contain;
}

.avatar5 {
    background: url("./img/avatar5.png");
    background-size: contain;
}

.avatar6 {
    background: url("./img/avatar6.png");
    background-size: contain;
}

.profile-middle {
    background: #ddd;
    padding: 5px;
    >div {
        height: 15px;
        padding: 5px;
    }
}

.profile-bottom {
    background: rgb(253, 255, 245);
    border-radius: 0 0 10px 10px;
}

.profile-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0;
}

.profile-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 70%;
        font-size: 14px;
        border: 1px solid #bbb;
        text-align: center;
        background-color: inherit;
        cursor: default;
        transition: border 0.3s;
        &:focus {
            cursor: text;
            border: 1.5px solid $background-color;
            background-color: #f5f5dc;
        }
    }
}

.profile-item-username {
    color: $base-font-color;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

.profile-item-name {
    font-size: 20px;
    padding: 2px;
}

.profile-item-location {
    font-size: 20px;
    padding: 2px;
    margin-bottom: 5px;
}

.avatar-btn {
    background: $background-color;
    font-size: 16px;
    padding: 8px 12px;
    font-weight: 400;
    width: 40%;
    margin: 5px;
    &:hover {
        background: lighten($background-color, 10%);
    }
}

.update-profile-btn {
    font-size: 20px;
    padding: 10px 20px;
    width: 50%;
    margin: 5px 5px 15px;
}

.edit-profile-heading {
    padding: 5px;
    margin: 0;
}