@import '../../partials/variables';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: $base-font-color;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    @media(max-width: 800px) {
        width: 85%;
    }
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;

    >div {
        margin: 15px;
        transition: transform 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1)
        }

        @media(max-width: 600px) {
            width: 90px;
            height: 90px;
            margin: 10px;
        }
    }
}

.delete-confirm-message {
    padding: 20px;
    font-size: 20px;
}

.delete-cancel-btn {
    background: $background-color;

    &:hover {
        background: lighten($background-color, 10%);
    }
}

.delete-confirm-btn {
    background: #c51c1c;

    &:hover {
        background: lighten(#c51c1c, 10%);
    }

}

.display-block {
    display: block;
}

.display-none {
    display: none;
}