.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: rgb(255, 255, 238);
    // width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    @media(max-width: 800px) {
        width: 85%;
    }
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    
    > div {
        margin: 15px;
        transition: transform 0.5s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1)
        }
        @media(max-width: 600px){
            width: 90px;
            height: 90px;
            margin: 10px;
        }
    }
}

.fa-times {
    position: absolute;
    color: #333;
    right: 5px;
    top: 5px;
    font-size: 26px;
    transition: color 0.3s;
    &:hover {
        color: #555;
        cursor: pointer;
    }
}



.display-block {
    display: block;
}

.display-none {
    display: none;
}