.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    padding-left: 10px;
}

@media (max-width: 350px) {
    .logo-container {
        display: none;
    }
    .nav-container {
        justify-content: flex-end;
    }
}

.logo-container div {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
}

.logo-text {
    padding: 10px;
}

.logo-text span {
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav p {
    padding: 10px;
    cursor: pointer;
}