@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

$base-font-color: #fffff0;
$secondary-font-color: #333;
$base-font-family: 'Montserrat',
sans-serif;

$background-color: #074fc8;
$secondary-background-color: #ff5100;