@import '../../partials/variables';

.bounding-box {
    position: absolute;
    border: 3px solid $secondary-background-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-wrap {
    display: flex;
    justify-content: center;
}

.image-container {
    position: absolute;
    margin: 50px 0;
}