.bounding-box {
    position: absolute;
    border: 3px solid rgb(255, 81, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-wrap {
    display: flex;
    justify-content: center;
}

.image-container {
    position: absolute;
    margin-top: 50px;
}