@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(270deg, #07bec8, #078bc8, #074fc8);
  background-size: 600% 600%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.btn {
  background: rgb(255, 81, 0);
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  box-shadow: 2px 2px 3px #444;
  cursor: pointer;
}

.btn:hover {
  background: rgb(248, 113, 50);
}

input {
  width: 100%;
}